<!DOCTYPE html>
<html>
    <head>
        <title>TenHut Training Mode</title>
        <link href="static/sheets/style.css" rel="stylesheet">
        <script src="static/scripts/doTraining.js"></script>
    </head>
    <body>
        <div class="training-container">
            <p id="exercise-to-do">Something Here</p>
            <p id="number-reps-text">Do 10 Reps or some shit</p>
            <input type="hidden" id="exercise-path" value="whee">
            <input type="hidden" id="exercise-reps" value="10">
            <input type="number" min="0" max="10" id="num-correct">
            <button onclick="getNextExercise()">SHOW UP PLS</button>
        </div>
        <footer>
            <p style="font-weight: bold;">Tim Bishop, RPI Class of 2025, Frontend - <a href="mailto:bishot3@rpi.edu">bishot3@rpi.edu</a></p>
            <p style="font-weight: bold;">TJ Hatch, RPI Class of 2026, Design - <a href="mailto:hatcht@rpi.edu">hatcht@rpi.edu</a></p>
            <p style="font-weight: bold;">Alex Houck, RPI Class of 2024, Backend - <a href="mailto:houcka@rpi.edu">houcka@rpi.edu</a></p>
        </footer>
    </body>
</html>