<!DOCTYPE html>
<html>
    <head>
        <link href="static/sheets/style.css" rel="stylesheet">
        <script src="static/scripts/exercises.js"></script>
        <title>TenHut Main Page</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <div class="checkbox-col">
                <h2 style="text-align: center;">Options</h2>
                <table>
                    <form action="" method="get" class="centered-col"></form>
                    <tr>
                        <td><label for="file-upload">Upload previous configuration file here:</label></td>
                        <td><input type="file" id="file-upload" onchange="fileChanged()" accept=".txt"></td>
                    </tr>
                    <tr>
                        <td><label for="number-iterations">Number of iterations per exercise:</label></td>
                        <td><input type="number" id="number-iterations" autocomplete="off"
                            min="0"></td>
                    </tr>
                    <tr>
                        <td><label for="number-exercises">Number of exercises in this session:</label></td>
                        <td><input type="number" id="number-exercises" autocomplete="off"
                        min="0"></td>
                    </tr>
                    <tr>
                        <td><a href="/downloadExercises"><button id="download-config-button">Download Current Exercises</button></a></td>
                    </tr>
                </table>
                </form>
            </div>
            <div class="exercise-col">
                <h2 style="text-align: center;">Exercises</h2>
                <div class="add-exercise">
                    <input type="text" id="add-new-exercise" placeholder="New Exercise Name Here...">
                    <button id="add-exercise-button" onclick="addExercise();"></button>
                </div>
            </div>
        </div>
        <div class="go-partition">
            <button class="go-button" onclick="beginTraining()">Begin training!</button>
        </div>
        <footer>
            <p style="font-weight: bold;">Tim Bishop, RPI Class of 2025, Frontend - <a href="mailto:bishot3@rpi.edu">bishot3@rpi.edu</a></p>
            <p style="font-weight: bold;">TJ Hatch, RPI Class of 2026, Design - <a href="mailto:hatcht@rpi.edu">hatcht@rpi.edu</a></p>
            <p style="font-weight: bold;">Alex Houck, RPI Class of 2024, Backend - <a href="mailto:houcka@rpi.edu">houcka@rpi.edu</a></p>
        </footer>
        <script>
        </script>
    </body>
</html>