<!DOCTYPE html>
<html>
    <head>
        <title>TenHut Results Screen</title>
        <link href="static/sheets/style.css" rel="stylesheet">
        <script src="static/scripts/doTraining.js"></script>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="training-container">
            <p id="results">Done!</p>
            <button ></button>
        </div>
        <footer>
            <p style="font-weight: bold;">Tim Bishop, RPI Class of 2025, Frontend - <a href="mailto:bishot3@rpi.edu">bishot3@rpi.edu</a></p>
            <p style="font-weight: bold;">TJ Hatch, RPI Class of 2026, Design - <a href="mailto:hatcht@rpi.edu">hatcht@rpi.edu</a></p>
            <p style="font-weight: bold;">Alex Houck, RPI Class of 2024, Backend - <a href="mailto:houcka@rpi.edu">houcka@rpi.edu</a></p>
        </footer>
        <script>
            triggerDownloadConfig();
        </script>
    </body>
</html>

