<!DOCTYPE html>
<html>
    <head>
        <title>TenHut Results Screen</title>
        <link href="static/sheets/style.css" rel="stylesheet">
        <script src="static/scripts/doTraining.js"></script>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="training-container">
            <h2 style="margin: auto;">Thanks for using TenHut!</h2>
            <p style="margin: auto;" id="results">Done! Make sure to download your configuration to save your progress!</p>
            <a href="/downloadExercises"><button id="download-config-button">Download Config</button></a>
            <a href="/"><button id="back-to-home">Return to homepage</button></a>
        </div>
        <footer>
            <p style="font-weight: bold;">Tim Bishop, RPI Class of 2025, Frontend - <a href="mailto:bishot3@rpi.edu">bishot3@rpi.edu</a></p>
            <p style="font-weight: bold;">TJ Hatch, RPI Class of 2026, Design - <a href="mailto:hatcht@rpi.edu">hatcht@rpi.edu</a></p>
            <p style="font-weight: bold;">Alex Houck, RPI Class of 2024, Backend - <a href="mailto:houcka@rpi.edu">houcka@rpi.edu</a></p>
        </footer>
        <script>
            triggerDownloadConfig();
        </script>
    </body>
</html>

